// colors
$primary-color: #757575;
$primary-color-50: rgba(117, 117, 117, 0.5);
$secondary-color: #212121;
$secondary-color-20: rgba(33, 33, 33, 0.2);
$accent-color: #2196F3;
$accent-color-90: #2196f3e6;
$accent-button-color: #188CE8;
$white-color: #ffffff;
$logo-color: #000000;
$input-color: #000000;
$close-button-border-color: rgba(0, 0, 0, 0.1);
$contact-link-color: rgba(255, 255, 255, 0.6);
$sign-up-border-color: rgba(255, 255, 255, 0.3);
$hero-footer-bg-color: #2F303A;
$main-body-bg-color: #ffffff;
$secondary-body-bg-color: #F5F4FA;
$backlog-bg-color: rgba(0, 0, 0, 0.2);
$input-border-color: rgba(33, 33, 33, 0.2);
$border-color: #ECECEC;
$social-link-color: #AFB1B8;
$footer-link-color: #44454E;
$subtitle-bg-color: rgba(47, 48, 58, 0.8);

// animation
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration : 250ms;