<div class="container container--clients">
  <h2 class="subtitle">Постоянные клиенты</h2>
  <ul class="clients__list">

    {{#each this}}
    <li class="clients__item">
      <a class="clients__link link" href="">
        <svg class="icon" width="44" height="49">
          <use href={{href}}></use>
        </svg>
      </a>
    </li>
    </li>
    {{/each}}
    
  </ul>
</div>