<footer class="footer">
  <div class="container--footer container">
    <div class="footer__wrapper">
      <div class="footer-contacts">
        <a class="logo logo--footer" href="./index.html" title="Web Studio"
          ><span class="logo--accent-color">Web</span>Studio</a
        >
        <address class="address-list">
          <a class="address-list__map-link" href="" title="Наш адрес"
            >г. Киев, пр-т Леси Украинки, 26</a
          >
          <ul class="address-list__list">
            <li class="address-list__item">
              <a
                class="address-list__link"
                href="mailto:info@example.com"
                title="почта: info@example.com"
              >
                info@example.com
              </a>
            </li>
            <li class="address-list__item">
              <a
                class="address-list__link"
                href="tel:+380991111111"
                title="тел: +380991111111"
              >
                +38 099 111 11 11
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-links">
        <b class="slogan slogan--lefted">Присоединяйтесь</b>
        <ul class="social">
          <li class="social__item">
            <a href="" class="link social__link social__link--grey">
              <svg
                class="social__icon social__icon--white icon"
                width="20"
                height="20"
              >
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="" class="link social__link social__link--grey">
              <svg
                class="social__icon social__icon--white icon"
                width="20"
                height="20"
              >
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="" class="link social__link social__link--grey">
              <svg
                class="social__icon social__icon--white icon"
                width="20"
                height="20"
              >
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="" class="link social__link social__link--grey">
              <svg
                class="social__icon social__icon--white icon"
                width="20"
                height="20"
              >
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <form class="footer-form">
      <label class="slogan slogan--lefted" for="footer-email"
        >Подпишитесь на рассылку</label
      >
      <input
        type="email"
        class="footer-form__email"
        name="email"
        id="footer-email"
        placeholder="Email"
      />
      <button class="button--footer-form button" type="submit">
        <span class="button__text">
          Подписаться
          <svg class="button__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-send"></use>
          </svg>
        </span>
      </button>
    </form>
  </div>
</footer>
