.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  flex-basis: calc((100% - 2 * 30px ) / 2);
  margin: 15px;

  @include media-min (768, 1199) {
    flex-basis: calc((100% - 3 * 30px ) / 3);
  }

  @include media-min (1200, 9999) {
    flex-basis: calc((100% - 6 * 30px ) / 6);
  }
}

.clients__link {
  @include centeredFlex(flex);  
  height: 90px;
  padding: 0;
  border: 1px solid $social-link-color;
  border-radius: 4px;

  color: $social-link-color;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}